# Good .gitignore file for a Python project with pycharm

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm files
.idea/

# VS Code files
.vscode/

# venv files
venv/

# other important files
*.iml
*.ipynb_checkpoints/
*.log
*.pydevproject